header.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
    nav.container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        |  
        a.navbar-brand(href='#') Daniel Carl Jones
        #navbarCollapse.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#')
                        | Home 
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') Projects
