extends layout

block banner
    .jumbotron.jumbotron-fluid
        .container.text-center
            h1.display-3 Hello! I'm Danny.
            p.lead Look at my cool fancy website!
            hr.my-4
            p You will soon find content here if you are lucky. If you're looking back through my git history: hello!
            p.lead
                a.btn.btn-primary.btn-lg(href="#", role="button") Do nothing

block content
    .row
      .col-md-12
        h2 More content.
        p Here's some delightful content.
