extends layout

block banner
    .jumbotron.jumbotron-fluid
        .container.text-center
            h1.display-3 Hello! I'm Danny.
            p.lead Look at my cool fancy website!
            hr.my-4
            p It uses utility classes for typography and spacing to space content out within the larger container.
            p.lead
                a.btn.btn-primary.btn-lg(href="#", role="button") Learn more

block content
    .memes
        p BANTERRR
